/* Global */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', sans-serif;
}
body{
  background: linear-gradient(to bottom, #0b132b, #1c2541); 
  color:#fff;
}

/* Header */
header{
  text-align:center;
  padding:50px 20px;
  background: rgba(0,0,0,0.4); 
  backdrop-filter: blur(5px);
}
.profile-img{
  width:140px;
  height:140px;
  border-radius:50%;
  border:4px solid #00e5ff;
  margin-bottom:15px;
}
nav a{
  color:#00e5ff;
  margin:0 15px;
  text-decoration:none;
  font-weight:bold;
}

/* Sections */
section{
  padding:60px 20px;
  text-align:center;
}
section h2{
  color:#00e5ff;
  margin-bottom:40px;
}

/* Card Wrapper */
.card-wrapper{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  max-width:1000px;
  margin:auto;
}

/* Card Design */
.card{
  background: rgba(255,255,255,0.9); 
  color:#000;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
  transition:0.3s;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100%;
  text-align:left;
}
.card h3{
  color:#0b132b;
  margin-bottom:15px;
}
.card p{
  flex-grow:1;
  color:#333;
  font-size:16px;
  line-height:1.6;
  margin-bottom:15px;
}
.card:hover{
  transform:translateY(-6px);
  box-shadow:0 12px 25px rgba(0,229,255,0.4);
}

/* Skills card icons */
#skills .card i{
  font-size:28px;
  color:#0b132b;
  margin-bottom:10px;
  display:block;
}
#skills .card:hover{
  background:#00e5ff;
  color:#000;
}

/* Portfolio card icons */
#projects .card i{
  margin-right:8px;
  font-size:20px;
}

/* Certificates images */
#certificates .card img{
  width:100%;
  border-radius:12px;
}

/* Footer */
footer{
  background:#020617;
  padding:20px;
  text-align:center;
  color:#aaa;
}

/* Fade in effect */
.fade-in {
  opacity:0;
  transform:translateY(20px);
  transition:opacity 2s ease, transform 2s ease;
}
.fade-in.visible {
  opacity:1;
  transform:translateY(0);
}
/* CONTACT */
.socials {
  margin-top: 20px;
  text-align: center;
}

.socials a {
  font-size: 30px;
  margin: 0 10px;
  color: #0c044e;
  transition: 0.3s;
}

.socials a:hover {
  color: #00c896;
}

/* FADE ANIMATION */
.card {
  opacity: 0;
  transform: translateY(40px);
}

